<nav class="navbar navbar-light bg-light border-bottom">
  <span class="navbar-brand mb-0 h1">Tavisca Task Manager</span>
</nav>
<div class="container-fluid">
  <div class="todo-list-container">
    <app-list *ngFor="let list of lists" (onEdit)="onEdit($event)" [list]="list" [connectedTo]="connectedTo"
      (removeList)="removeList($event)">
    </app-list>
    <div class="new-list-btn">
      <button type="button" class="btn btn-link" (click)="addNewList()">
        <i class="fa fa-plus"></i> Add List
      </button>
    </div>
  </div>
</div>

<app-modal title="New List" [show]="addList" (onSave)="saveNewList($event)">
  <div class="row">
    <div class="col-12">
      <label for="">Name</label>
      <input type="text" class="form-control" (keyup.enter)="saveNewList(true)"
        [ngClass]="{'border border-danger':showListNameError}" [(ngModel)]="newListName">
      <span class="text-danger" *ngIf="showListNameError">Please enter list Name</span>
    </div>
  </div>
</app-modal>
<app-alert></app-alert>